allow update_engine system_app:binder { call transfer };
allow update_engine dtbo_block_device:blk_file { open read write ioctl getattr };
allow update_engine storage_file:dir { search read write };
allow update_engine storage_file:lnk_file { read write };
allow update_engine mnt_user_file:dir r_dir_perms;
allow update_engine mnt_user_file:file r_file_perms;
allow update_engine fuse:dir r_dir_perms;
allow update_engine fuse:file r_file_perms;
allow update_engine sdcardfs:dir r_dir_perms;
allow update_engine sdcardfs:file r_file_perms;
allow update_engine media_rw_data_file:dir r_dir_perms;
allow update_engine media_rw_data_file:file r_file_perms;
allow update_engine loop_device:blk_file { open write };
allow update_engine bootloader_block_device:blk_file { open read write ioctl getattr };
